
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

/* Navigation Styles */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  width: 100%;
  background: rgb(29, 29, 29);
  color: #fff;
  border-bottom: 2px solid #fff;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}

.hamburger {
  font-size: 35px;
  position: absolute;
  top: 25%;
  left: 5%;
  display: none;
  cursor: pointer;
}

.navItems ul {
  display: flex;
  list-style: none;
  margin-left: 20px;
}

.navItems ul li {
  cursor: pointer;
  letter-spacing: 1.5px;
  margin: 0 20px;
}

.home {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  margin-right: 50px;
}

.icons {
  font-size: 20px;
  margin-right: 60px;
}

.icons i {
  margin: 0 10px;
  cursor: pointer;
}

.rightSide .cart {
  position: relative;
  color: #fff;
  margin-right: 5px;
}

.shoppingAmt {
  position: absolute;
  top: 24px;
  right: 45px;
}

/* Landing Page Styles */
.landingPage {
  height: 85vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.landingImage {
  width: clamp(250px, 55vw, 500px);
  margin-left: 30%;
  object-fit: contain;
  position: relative;
  z-index: -1;
}

.mainHeading {
  padding-top: 20px;
  position: absolute;
  top: 20%;
  left: 2%;
  letter-spacing: 1.5px;
  font-size: clamp(1.1rem, 3vw, 3rem);
  font-family: 'Jim Nightshade', cursive;
}

.mainHeading2 {
  width: 20%;
  padding-top: 20px;
  position: absolute;
  top: 40%;
  right: 12%;
  letter-spacing: 1.5px;
  font-size: clamp(1.1rem, 2vw, 3rem);
  font-family: 'Jim Nightshade', cursive;
}

/* Info Page Styles */
.infoSection {
  height: 55vh;
  background: rgb(37, 37, 37);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  color: whitesmoke;
  text-align: center;
  letter-spacing: 0.5px;
}

.infoPara {
  font-size: clamp(1.1rem, 2vw, 2rem);
  margin-bottom: 10px;
}

.infoIcons {
  margin-bottom: 20px;
}

.para1 {
  margin-bottom: 5px;
}

.percents, .returning, .shippings {
  font-size: clamp(1.1rem, 4vw, 5rem);
}

/* Men and Women Section */
.mensAndWomen {
  background: #000;
  padding: 20px 0;
  /* height: 100vh; */
  overflow: hidden;
}

.menImage, .womensImage {
  height: 625px;
  width: 500px;
  overflow: hidden;
}

.menImg, .womenImg {
  position: relative;
}

.womensImage {
  object-fit: cover;
}

.images {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
}

.men {
  position: absolute;
  top: 10%;
  left: 5%;
  font-size: 25px;
  font-family: 'Jim Nightshade', cursive;
}

.women {
  position: absolute;
  top: 10%;
  left: 5%;
  font-size: 25px;
  font-family: 'Jim Nightshade', cursive;
}

/* Prints Section Styles */
.shirtPrints {
  padding: 100px 0;
  background: url('./images/printsBackgrd.jpg')center/cover;
  overflow: hidden;
}

.printsHeading {
  text-align: center;
  margin-bottom: 50px;
  font-family: 'Jim Nightshade', cursive;
  font-size: clamp(1.3rem, 3vw, 3rem);
}

/* .topPrints, .bottomPrints {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 50px 0;
} */

.topPrints {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr) );
  margin-bottom: 50px;
}

.bottomPrints {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr) );
}

.prints {
  text-align: center;
  overflow: hidden;
}

.prints img {
  height: 200px;
  width: 200px;
  cursor: pointer;
}

.prints img:hover {
  transform: scale(1.5) rotate(20deg);
  transition: 1s ease;
  overflow: hidden;
}

.imageDiv {
  overflow: hidden;
}

.printInfo {
  display: flex;
  justify-content: space-evenly;
  margin: 5px 0;
}

.thumbsUp {
  margin-right: 5px;
}

.printBtn {
  background: gray;
}

.prints a {
  text-decoration: none;
  font-size: 0.9rem;
  color: #fff;
}

.prints h2 {
  background: rgb(26, 26, 26);
  font-size: clamp(0.8rem, 1.5vw, 3rem);
  padding: 5px 10px;
  border-radius: 10px;
  width: 40%;
  margin: 0 auto;
  margin-bottom: 20px;
}

@media(max-width: 1150px) {
  .mainHeading2 {
    top: 30%;
    left: 5%;
  }
}


@media(max-width: 850px) {
  .navItems {
    display: none;
  }
  .hamburger {
    display: block;
  }
}

@media(max-width: 500px) {
  .mainHeading {
    top: 5%;
    width: 50%;
  }
  .mainHeading2 {
    top: 20%;
  }
  .womenImg img {
    object-position: left;
  }
}

@media(max-width: 420px) {
  .mainHeading2 {
    display: none;
  }
}
